.bookTableImg{
    height: 15rem !important;
    width: auto;
}

@media (768px <= width <= 50000px ){
    
    .history_table{
        display: block;
    }
    .history_card{
        display: none;
    }
}

@media (0 <= width <=767px ){
    .history_card{
        display: block;
    }

    .history_table{
        display: none;
    }
}