:root{
    --mainbg: rgb(255, 255, 255);
}

body{
    background-color: var(--mainbg) !important;
}

.main{
    min-height: 80vh;
}

.navbar-brand{
    
    width: 60px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.navbar-brand a{
    text-decoration: none;
    font-weight: bolder;
    color: rgb(233, 133, 3);
}

.user-Layout{
    display: flex;

}



.left{
    
    min-width: 200px;
    background-image: url(./assets/dashboard.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover  ;
    height: 100%;
    position: fixed;
    color: white;
}

.right{
    background: rgb(103, 174, 222);
    width: calc(100% - 200px);
    margin-left: auto;
}

.sidebar li{
    list-style: none;
    line-height: 3rem;
}


.more{
    font-size: 3rem;
}

.profile_icons{
    font-size: 25rem;
}

.aboutimg{
    height: 60vh;
    
}