:root{
    --mainbg: rgba(173, 220, 220, 0.655);
}

body{
    background-color: var(--mainbg) !important;
}

.main{
    min-height: 80vh;
}

.navbar-brand{
    
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: rgb(174, 171, 171);
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-brand a{
    text-decoration: none;
    font-weight: bolder;
    color: rgb(233, 133, 3);
}

.user-Layout{
    display: flex;

}

.left{
    
    min-width: 200px;
    position: fixed;
    height: 100%;
    color: white;
}

.right{
    background: rgb(103, 174, 222);
    width: calc(100% - 200px);
    margin-left: auto;
}

.sidebar li{
    list-style: none;
    line-height: 3rem;
}
