:root{
    --mainbg: rgb(255, 255, 255);
}

body{
    background-color: var(--mainbg) !important;
}

.main{
    min-height: 80vh;
    margin-top: 4.1rem;
}

.navbar-brand{
    
    width: 60px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.navbar-brand a{
    text-decoration: none;
    font-weight: bolder;
    color: rgb(233, 133, 3);
}

.user-Layout{
    display: flex;

}



.left{
    
    min-width: 200px;
    background-color: rgb(227, 222, 222);
    height: 100%;
    position: fixed;
    color: white;
   
}

.right{
    background: rgb(251, 251, 251);
    width: calc(100% - 200px);
    margin-left: auto;
}

.sidebar li{
    list-style: none;
    line-height: 3rem;
}


.more{
    font-size: 3rem;
}



.aboutimg{
    height: 60vh;
    
}

.history_page{
    min-height: 71.7vh;
}

.modal_body{
    width: auto !important;
    
}

.charts{
   height: 25rem;
   margin-bottom: 5rem;
}

.mobile_restrict{
    height: 100vh;
}
